body {
  display: flex;
  flex-direction: row;
}

body div {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
}

.background{
  background-image: url("gifs/giphy (3).gif");
  background-position: center;
  background-size: 525x, 525px;
}

.bcolor{
  background-color: #1E1E27;
}

.textcolor{
  color: #474747;
}
